@import "tailwindcss";

/* Fondo global con imagen */
body {
  background-image: url('/images/fondo.jpg'); /* Asegúrate que esté en la carpeta /public/images */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}
